body{
	background: url(../assets/bg.png) no-repeat center 20%;
}
.content-title{
	color: #fff;
	margin-top: 15%;
	text-align: right;
	font-size: 55px;
	padding-right: 15%;
	font-weight: 300;
}
.content-title p:nth-child(2){
	padding-right: 6%;
	font-size: 66px;
	font-weight: 900;
}
.mar_r14{
	margin-right: 14%;
}